@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>To make lots of money, please enter your bank account and routing info in the movie form and great fortunes will be yours!</p>
